 /*----- Variables -----*/

 @use 'variables/_color' as color;
 @use 'variables/_fonts' as fonts;
 
  /*----- Mixins -----*/

 @use 'mixins/_mixin' as m;
 
  /*----- Sections -----*/

 @use 'sections/_header' as header;
 @use 'sections/_why-us' as why-us;
 @use 'sections/_icons' as icons;
 @use 'sections/_house' as house;
 @use 'sections/_background-house' as background-house;
 @use 'sections/_review' as review;
 @use 'sections/_footer' as footer;

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 body {
     max-width: 1800px;
     width: 100%;
     margin: auto;
 }