@use '../variables/color' as color;
@use '../variables/fonts' as fonts;
@use '../mixins/mixin' as m;

.sea-background{
    max-width: 100vw;
    width: 100%;
    min-height: 700px;
    background-image: url(/img/cliffs.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    

    .content-container-bottom{
        @include m.flex(row, flex-end, center);
        max-width: 1120px;
        width: 100%;
        min-height: 600px;
        margin: auto;
        

        .box-bottom{
            max-width: 543px;
            width: 100%;
            background-color: color.$box;
            padding: 2rem;

            .content-bottom{
                .location-bottom{
                    font-family: fonts.$josefin-sans;
                    font-size: 20px;
                    letter-spacing: 1.5px;
                    color: color.$paragraph;
                    margin-bottom: 1rem;
                }

                .heading-bottom{
                    font-family: fonts.$josefin-sans;
                    font-size: 20px;
                    color: color.$review;
                    margin-bottom: 1.5rem;
                }

                .info-bottom{
                    font-family: fonts.$josefin-sans;
                    font-size: 16px;
                    line-height: 26px;
                    color: color.$paragraph;
                    margin-bottom: 2rem;
                }

                .cta-bottom{
                    @include m.btn;
                }
            }
        }
    }
}
