@use '../variables/color' as color;
@use '../variables/fonts' as fonts;
@use '../mixins/mixin' as m;

.house-background {
    max-width: 100vw;
    width: 100%;
    min-height: 700px;
    background-image: url(../image/spain-bg-l.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 0;

    .content-container {
        @include flex(row, flex-end, center);
        max-width: 1110px;
        width: 100%;
        margin: auto;
        padding: 0 2rem;

        .box {
            max-width: 543px;
            width: 100%;
            background-color: $box;
            padding: 2rem;

            .content {
                .location {
                    font-family: $josefin-sans;
                    font-size: 20px;
                    letter-spacing: 1.5px;
                    color: $white;
                    margin-bottom: 1rem;
                }

                .heading {
                    font-family: $josefin-sans;
                    font-size: 20px;
                    color: $white;
                    margin-bottom: 1.5rem;
                }

                .info {
                    font-family: $josefin-sans;
                    font-size: 16px;
                    line-height: 26px;
                    color: $white;
                    margin-bottom: 2rem;
                }

                .cta {
                    @include button;
                }
            }
        }
    }

    @include responsive(tablet) {
        .content-container {
            justify-content: center;
            
            .box {
                max-width: 100%;
            }
        }
    }
}
