@use '../variables/color' as color;
@use '../variables/fonts' as fonts;
@use '../mixins/mixin' as m;

.icons-background {
    max-width: 100vw;
    width: 100%;
    min-height: 340px;
    background-color: color.$icons-bg;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
        @include m.container(space-between, center, row, nowrap);
        max-width: 1046px;
        min-height: 176px;
        width: 100%;
        margin:0 auto;
       
        
        .card {
           @include m.flex(column, center, center);
           margin: 0 auto;
           text-align: center;
            
              i{
                font-size: 36px;
                margin-bottom: 10px; 
              }  

            
                .blue {
                    color: color.$blue;
                }

                .red {
                    color: color.$red;
                }
            

            &-text {
               @include m.h2;
               color: color.$paragraph;
                
            }
            
        }
    }

    }