@use '../variables/color' as color;
@use '../variables/fonts' as fonts;
@use '../mixins/mixin' as m;

.why-background {
    max-width: 100vw;
    width: 100%;
    min-height: 685px;
    background-image: url(/img/rooftops.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .content_container {
        @include m.container(space-between, center, wrap);
        min-height: 430px ;
        max-width: 1120px;
        width: 100%;
        margin: auto;

        &-body {
            @include m.container(space-between, flex-start, column, nowrap);
            max-width: 560px;
            min-height: 343px;
            width: 100%;


            .heading {
                font-family: fonts.$aleo;
                font-size: 36px;
                line-height: 26px;
                margin-top: 16px;
                color: color.$white;
            }

            .info {
                font-family: fonts.$josefin-sans;
                font-size: 16px;
                line-height: 26px;
                margin-top: 16px;
                margin-bottom: 16px;
                color: color.$paragraph;
            }

            .cta {
                @include m.btn;
                
            }
        }

        .photo_container {
            @include m.container(space-between, flex-start, column, nowrap);
            max-width: 440px;
            width: 100%;
            min-height: 450px;
            gap: 10px;
            

            .bottom-img {
                align-self: flex-end;
            }
        }
    }

    @include m.responsive(tablet) {
        .content_container {
            flex-direction: column;
            padding: 0 1rem;

            &-body {
                text-align: center;
            }
        }
    }
}
