$white: #FFFFFF;
$navbar: #5474FD;
$btn:#5474FD;
$quote:#5474FD;
$blue:#5474FD;
$red:#ff6363;
$btn-hover:#001a8f;
$btn-active: #158a00;
$link-hover: #002c8a;
$input-txt: #999999;
$paragraph: #E8E8E8;
$box: rgba(35, 35, 35, 0.9);
$footer: #232323;
$review: #FEFEFE;
$icons-bg: #333333;