@use 'sass:color';
@use '../variables/fonts' as fonts;
@use '../variables/color' as c;

@mixin responsive($breakpoint) {
    @if $breakpoint == tablet {
        @media screen and (max-width: 768px) {
            @content;
        }
    }
    @if $breakpoint == mobile {
        @media screen and (max-width: 480px) {
            @content;
        }
    }
}

@mixin header-container($justify-content: center, $align-items: center, $flex-direction: row, $flex-wrap: wrap){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
}

@mixin container($justify-content: center, $align-items: center, $flex-direction: row, $flex-wrap: wrap){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
}

@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin h1{
    font-family: fonts.$josefin-sans;
    font-weight: bold;
    font-size: 48px;
    line-height: 26px;
    letter-spacing: 4.8px;
    color: c.$white;
    text-align: center;
}

@mixin h2{
    font-family: fonts.$aleo;
    font-size: 36px;
    line-height: 26px;
    color: c.$white;
}

@mixin h3{
    font-family: fonts.$josefin-sans;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: c.$white;
}

@mixin p{
    font-family: fonts.$josefin-sans;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px;
    color: c.$paragraph;
}

@mixin btn{
    max-width: 228px;
    min-height: 63px;
    width: 100%;
    border: none;
    background: c.$btn;
    font-family: fonts.$aleo;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.2px;
    color: c.$white;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover{
        background: color.adjust(c.$btn, $lightness: -10%);
    }
}
